<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Main</title>
</head>
<body>
<a id="postal" href="/postal">Week 09: Postal Calculator</a>
<br/>
<a id="final" href="/final">Final Project</a>
  


</body>
</html>
